---
title: A Real Wulf, IRL
---
.flex
  .header
    .avatar
    .title LibreWulf
    .subtitle A Real Wulf, IRL
    :markdown
      Images on this page have been compressed to save space. Click through to download full-res copies.
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'librewulf_refsheet.png', alt: 'Reference Sheet'})
        :markdown
          Art by [CupcakeCreature](http://cupcakecreature.weebly.com/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'hypno_icon.jpg', alt: 'Hypno Icon'})
        :markdown
          Art by [Echo](https://beta.furrynetwork.com/ech00/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'what.png', alt: 'Masterpiece'})
        :markdown
          Art by [Pita](https://twitter.com/saltedpita/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'cercat-badge.png', alt: 'Hypno Badge'})
        :markdown
          Art by [Pita](https://twitter.com/saltedpita/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'eating-commission.png', alt: 'Eating my hard work'})
        :markdown
          Art by [Pulex](https://www.furaffinity.net/user/pulex/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'christmas-icon.png', alt: 'Christmas Icon'})
        :markdown
          Art by [Pita](https://twitter.com/saltedpita/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'aries_fullbody.png', alt: 'Fullbody Comission'})
        :markdown
          Art by [metalliclaws](https://www.furaffinity.net/user/metalliclaws)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'libreacbadge.png', alt: 'AC 2017 Badge'})
        :markdown
          Art by [Pita](http://twitter.com/saltedpita/)
  .footer
    .text
      :markdown
        Made with ❤️ by a big dumb 🐺. [Source is on
        GitHub](https://github.com/oslerw/librewulf.dog).
